<div class="nav-items">
  <a [routerLink]="['users']">
    <div class="nav-item">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span>Utilisateurs</span>
    </div>
  </a>
  <div class="nav-item">
    <fa-icon [icon]="faSnowflake"></fa-icon>
    <span>Congélateurs</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faGears"></fa-icon>
    <span>Types de congélateurs</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faIceCream"></fa-icon>
    <span>Produits</span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faGears"></fa-icon>
    <span>Types de produits</span>
  </div>
</div>
