.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }

  button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #1e88e5;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #a8dadc;
      box-shadow: 0 5px 10px rgba(26, 35, 126, 0.3);
    }
  }

  .red-circle {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #ef5350;
  }

  .green-circle {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #66bb6a;
  }

  .pagination-container {
    text-align: center;
    margin: 15px 0;
  }
}
